<div class="container-sm">
 <div class="list-header d-flex">
   <%= link_to "<i class='fas fa-chevron-left'></i>".html_safe, lists_path, class: "back-arrow" %>
   <h2><%= @list.name.titleize %></h2>
 </div>
 <%= link_to "Add Item", new_list_item_path(@list), class: "create-btn" %>
 <div id="list" data-controller="drag" data-drag-url="/lists/<%= @list.id %>/items/:id/move">
   <% @list.items.order(position: :asc).each do |item| %>
     <div data-id="<%= item.id %>" class="list-item d-flex justify-content-between">
       <div class="items">
         <h4 id="name-<%= item.id %>"><%= item.name.titleize %></h4>
         <% unless item.note.empty? %>
           <p>Notes: <%= item.note %></p>
         <% end %>
         <% unless item.quantity.nil? %>
           <p>Quantity: <%= item.quantity %></p>
         <% end %>
       </div>
       <div style="background-color: white; flex: 2;" class="glyphicon glyphicon-move" aria-hidden="true">

       </div>
       <div>
         <%= link_to "<i class='fas fa-pen'></i>".html_safe, edit_list_item_path(@list, item), class: "list-icon" %>
         <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, item_path(item), method: :delete, data: { confirm: "Are you sure?"}, class: "list-icon" %>
       </div>
     </div>
   <% end %>
 </div>
 <!-- Button trigger modal -->
<div class="center">
  <button type="button" class="signup-btn mt-3" data-toggle="modal" data-target="#exampleModal">
    Share list
  </button>
</div>

 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="exampleModalLabel">Enter email</h5>
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
       <div class="modal-body">
         <%= form_tag new_list_email_list_path(@list), :method => "GET" do %>
           <%= text_field_tag :email, nil, :placeholder => 'Enter email address...', style: "width: 100%; height: 40px;" %>
           <%= submit_tag "Send", class: "signup-btn remove-shadow mt-3", style: "width: 100%;" %>
         <% end %>
       </div>
     </div>
   </div>
 </div>
</div>
