<div class="list-header d-flex">
  <%= link_to "<i class='fas fa-arrow-circle-left'></i>".html_safe, lists_path, class: "back-arrow" %>
  <h1><%= @list.name.titleize %></h1>
</div>
<%= link_to "Add Item", new_list_item_path(@list), class: "create-btn" %>
<% @list.items.order("created_at DESC").each do |item| %>
  <div class="list-item d-flex justify-content-between">
    <% if item.complete %>
      <%= link_to toggle_complete_list_item_path(@list, item), method: :patch, remote: true do %>
        <s><%= item.name.titleize %></s>
      <% end %>
      <div>
        <%= link_to "<i class='fas fa-pen'></i>".html_safe, edit_list_item_path(@list, item), class: "list-icon"  %>
        <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, item_path(item), method: :delete, data: { confirm: "Are you sure?"}, class: "list-icon"  %>
      </div>
    <% else %>
      <div class="items">
        <%= link_to item.name.titleize, toggle_complete_list_item_path(@list, item), method: :patch, remote: true %>
        <% unless item.note.empty? %>
          <p>Notes: <%= item.note %></p>
        <% end %>
        <% unless item.quantity.nil? %>
          <p>Quantity: <%= item.quantity %></p>
        <% end %>
      </div>
      <div>
        <%= link_to "<i class='fas fa-pen'></i>".html_safe, edit_list_item_path(@list, item), class: "list-icon" %>
        <%= link_to "<i class='far fa-trash-alt'></i>".html_safe, item_path(item), method: :delete, data: { confirm: "Are you sure?"}, class: "list-icon" %>
      </div>
    <% end %>
  </div>
<% end %>
<%= link_to "send mail", new_list_email_list_path(@list), class: "btn btn-primary mt-3" %>

