<div class="banner">
  <%= image_tag "milyst-logo.png", style: "width: 150px; height: auto;", alt: "milyst logo" %>
  <h1>The <span class="green">easiest</span> way to create and share your shopping lists.</h1>
  <%= link_to "SIGN UP NOW", new_user_registration_path, class: "signup-btn"  %>
  <div class="iphone-container">
    <%= image_tag "iphone.png", class: "iphone", style: "width: 200px; height: auto;" , alt: "iphone image" %>
  </div>
</div>
<div class="how-it-works">
  <h2>How it works</h2>
  <div class="steps">
    <%= image_tag "signup.svg", style: "width: 200px; height: auto;", alt: "illustration of a person signing up" %>
    <h3>Easily sign up and create an account for <span class="green">free!</span></h3>
  </div>
  <div class="steps">
    <%= image_tag "lists.svg", style: "width: 200px; height: auto;", alt: "illustration of a person signing up" %>
    <h3>Easily start creating <span class="green">organised</span> lists</h3>
  </div>
  <div class="steps">
    <%= image_tag "share.svg", style: "width: 200px; height: auto;", alt: "illustration of a person signing up" %>
    <h3>Easily <span class="green">share</span> your lists with family and friends</h3>
  </div>
</div>
