<div class="container-sm">
  <div class="profile">
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, height: 170, :quality=>60, crop: :mfit, class: "avatar-square dropdown-toggle", alt: "profile image", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
    <% else %>
        <%= image_tag "profile.png", class: "avatar-square dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% end %>
    <h3><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %> </h3>
    <p><%= current_user.email %></p>
  </div>
  <%= link_to "EDIT PROFILE", edit_user_registration_path, class: "create-btn mb-4 mt-4"%>
  <%= link_to "CHANGE PASSWORD", edit_user_registration_path, class: "signup-btn", style: "width: 100%;" %>
  <%= link_to "Log out", destroy_user_session_path, method: :delete%>
</div>

