<div class="container-sm">
  <h2>Edit item</h2>
  <%= simple_form_for [ @list, @item ] do |f| %>
    <%= f.input :name %>
    <%= f.input :note %>
    <%= f.input :quantity %>
    <%= f.submit "Edit", class: "create-btn" %>
  <% end %>
</div>
